html,body{height:100%}body{margin:0;font-family:Roboto,Helvetica Neue,sans-serif}.error-snackbar{--mdc-snackbar-container-color: #f44336;--mdc-snackbar-supporting-text-color: #ffffff;--mat-snack-bar-button-color: #ffffff}
